Source: zorba-excel-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba
Standards-Version: 3.9.1
Homepage: http://www.zorba-xquery.com

Package: zorba-excel-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba
Description: a general purpose XQuery processor
 This is a library module offering the same set of functions defined by
 Microsoft Excel.
