Source: zorba-languages-module
Section: devel
Priority: extra
Maintainer: Juan Zacarias <juan457@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba, libxslt-dev
Standards-Version: 3.9.1
Homepage: http://www.zorba-xquery.com
#Vcs-Git: git://git.debian.org/collab-maint/zorba.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/zorba.git;a=summary

Package: zorba-languages-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba, libxslt-dev
Description: a general purpose XQuery processor
 This module provides XSLT 1.0 transformation functionality.
 For details on XSLT see XSLT 1.0 specification.
 This module implements the invoking of an XSLT transformation from XQuery
 described in Michael Kay's proposal.
