Source: zorba-image-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba, libmagick++-dev
Standards-Version: 3.9.1
Homepage: http://zorba.28.io

Package: zorba-image-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba, libmagick++-dev
Description: a general purpose XQuery processor
 This module provides basic functions for handling images including:
 *animations of images.
 *conversion between different formats.
 *image manipulations like resizing, zooming, special effects etc. 
 *basic painting operations on images.
