Source: zorba-xqxq-module
Section: devel
Priority: extra
Maintainer: Juan Zacarias <juan457@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba | zorba-with-language-bindings
Standards-Version: 3.9.1
Homepage: http://www.zorba-xquery.com
#Vcs-Git: git://git.debian.org/collab-maint/zorba.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/zorba.git;a=summary

Package: zorba-xqxq-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba | zorba-with-language-bindings
Description: a general purpose XQuery processor
 The xqxq module gives access to several functions of Zorba's API.
