Source: zorba-xqxq-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba
Standards-Version: 3.9.1
Homepage: http://zorba.28.io

Package: zorba-xqxq-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba
Description: a general purpose XQuery processor
 The xqxq module gives access to several functions of Zorba's API.
