Source: zorba-sqlite-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba, libsqlite3-dev, sqlite3
Standards-Version: 3.9.1
Homepage: http://www.zorba-xquery.com

Package: zorba-sqlite-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba, sqlite3
Description: a general purpose XQuery processor
 Module used to work with a sqlite database.
