Source: zorba-data-formatting-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba, openjdk-8-jdk | openjdk-7-jdk, fop, zorba-util-jvm-module
Standards-Version: 3.9.1
Homepage: http://www.zorba-xquery.com

Package: zorba-data-formatting-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba, default-jre | java6-runtime | java7-runtime | java8-runtime, fop, zorba-util-jvm-module
Description: a general purpose XQuery processor
 This module uses Apache-FOP to generate content from a xsl-fo. Apache-FOP
 supports several output formats. See the Apache FOP documentation for further
 information.
