Source: zorba-process-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba
Standards-Version: 3.9.1
Homepage: http://www.zorba-xquery.com

Package: zorba-process-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba
Description: a general purpose XQuery processor
 Module provides functions to execute a command.
