Source: zorba-archive-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba, libarchive-dev
Standards-Version: 3.9.1
Homepage: http://zorba.28.io

Package: zorba-archive-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba, libarchive-dev
Description: a general purpose XQuery processor
 This module provides functionality to work with (possibly compressed)
 archives. For example, it provides functions to retrieve the names or
 extract the values of several entries in a ZIP archive. Moreover,
 there exists functions that allow to create or update archives.
