Source: zorba-info-extraction-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba
Standards-Version: 3.9.1
Homepage: http://www.zorba-xquery.com

Package: zorba-info-extraction-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba
Description: a general purpose XQuery processor
 This library module provides data extraction functions that return a 
 list: of entities, relations, categories and concepts present in a 
 given text.
