Source: zorba-oauth-module
Section: devel
Priority: extra
Maintainer: Federico Cavalieri <f@28.io>
Build-Depends: debhelper (>= 7.0.50~), cmake, zorba | zorba-with-language-bindings, zorba-html-module, zorba-security-module
Standards-Version: 3.9.1
Homepage: http://www.zorba-xquery.com
#Vcs-Git: git://git.debian.org/collab-maint/zorba.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/zorba.git;a=summary

Package: zorba-oauth-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zorba | zorba-with-language-bindings, zorba-html-module, zorba-security-module
Description: a general purpose XQuery processor
 OAuth Client Module This module provides the functions necessary to acquire
 access to the personal resources of a user through the open standard called
 OAuth. The application/mashup creator does not need to know the specifics of
 OAuth to use this module.
